primearea.biz/func/config.php

primearea.biz/modules/wmx2/*.kwm

primearea.biz/cache/*
!primearea.biz/cache/.gitkeep

primearea.biz/upload/*
!primearea.biz/upload/.gitkeep

primearea.biz/picture/*
!primearea.biz/picture/.gitkeep

primearea.biz/43B0E52CAA99C3F616C18BD6DA49AD04.txt
primearea.biz/575075843c1eafbc0f8b4567.txt
primearea.biz/googlea0ca0f7d93b1c9f6.html

primearea.biz/sitemap.xml
primearea.biz/robots.txt


app/config/parameters.yml
app/bootstrap.php.cache
phpunit.xml.dist
var/cache/
!var/cache/.gitkeep
var/logs/
!var/logs/.gitkeep
var/sessions/
!var/sessions/.gitkeep
var/bootstrap.php.cache
vendor/
web/bundles/

node_modules
